:root {
  --black: #212121;
  --grey: #757575;
  --white: #ffffff;
  --main-background: #e5e5e5;
  --footer-bcg: #2f303a;
  --blue: #2196f3;
  --footer-address: rgba(255, 255, 255, 0.6);
  --bcg-team: #f5f4;
  --other-buttob-bcg: #f5f4fa;
}
body {
  text-decoration: none;
}
.main-title {
  background-color: var(--footer-bcg);
}
.nav-logo {
  color: var(--blue);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav-site .title {
  color: var(--black);
}
.site-link .adress {
  color: var(--black);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.site-link .portfolio-adress {
  color: var(--blue);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.site-link .adress:hover {
  color: var(--blue);
}
.link-contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-decoration: none;
}
.link-contacts:hover {
  color: var(--blue);
}
.btn-name-all {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: var(--blue);
}
.btn-all :hover {
  background-color: var(--blue);
}
.other-button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: var(--other-buttob-bcg);
}
.type-of-names {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}
.works {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.footer-logo {
  color: var(--blue);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo .title {
  color: var(--white);
}
.footer {
  background-color: var(--footer-bcg);
}
.footer-adress {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.footer-details {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address);
  text-decoration: none;
}
